* {
  margin: 0;
  padding: 0;
}
body {
	margin: 0 auto;
  width: 60%;
}

.add-button {
  position: fixed;
  bottom: 8px;
  right: 8px;
}

.edit-button {
  display: inline-block;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cb {
  text-align: center;
}

.content {
  width: calc(100% - 75px);
}

.actions {
  width: 75px;
}

@media screen and (max-width: 854px) {
  body {
    margin: 0 auto;
    width: 100%;
  }
}
